/*==================================
HEADER PSICOLOGÍA
==================================*/

.ps-header{

  display:flex;

  align-items:center;

  justify-content:space-between;

  margin-bottom:0;

}

.ps-header-left{

  display:flex;

  align-items:center;

  gap:18px;

}

/*==============================
LOGO
==============================*/

.ps-logo{

  width:62px;

  height:62px;

  border-radius:18px;

  display:flex;

  justify-content:center;

  align-items:center;

  overflow:hidden;

  background:rgba(255, 252, 252, 0.72);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.18);

}

/*==============================
TEXTOS
==============================*/

.ps-header h1{

  font-size:20px;
  
  font-weight:700;
  
  color:rgb(245, 244, 244);
  
  text-shadow:
  
  0 2px 8px rgba(0,0,0,.45);
  
  }

.ps-header p{

  margin-top:4px;

  font-size:13px;

  font-weight:500;

  color:rgba(255,255,255,.82);

}
