.nee-lista{

display:flex;

flex-direction:column;

gap:14px;

margin-top:18px;

padding-bottom:25px;

overflow-y:auto;

flex:1;

}

.nee-card{

display:flex;

align-items:center;

gap:16px;

padding:16px;

border-radius:24px;

background:

linear-gradient(

145deg,

rgba(255,255,255,.90),

rgba(238,252,244,.72)

);

backdrop-filter:blur(18px);

box-shadow:

0 10px 25px rgba(0,0,0,.14);

cursor:pointer;

transition:.25s;

}

.nee-card:hover{

transform:translateY(-3px);

}

.nee-avatar{

width:58px;

height:58px;

border-radius:50%;

background:#238A52;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:700;

flex-shrink:0;

}

.nee-perfil-info{

flex:1;

}

.nee-info h3{

margin:0;

font-size:17px;

color:#214A34;

}

.nee-info p{

margin:4px 0;

color:#238A52;

font-weight:700;

font-size:15px;

}

.nee-info span{

color:#7D8C84;

font-size:14px;

}

.nee-vacio{

display:flex;

justify-content:center;

align-items:center;

height:300px;

color:white;

font-size:18px;

}

.nee-toolbar{

display:flex;

justify-content:center;

margin:18px 0 8px;

}

.nee-add{

height:48px;

padding:0 22px;

border:none;

border-radius:18px;

background:#228B52;

color:white;

font-size:16px;

font-weight:700;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

box-shadow:

0 10px 22px rgba(0,0,0,.22);

transition:.25s;

}

.nee-add:hover{

transform:translateY(-2px);

background:#1d7747;

}