.nota-item{

margin-bottom:14px;

border-radius:18px;

padding:14px;

cursor:pointer;

transition:.25s;

}

.nota-item:hover{

transform:translateY(-2px);

}

.nota-item.verde{

background:#EAF8ED;

}

.nota-item.amarillo{

background:#FFF7DA;

}

.nota-item.rojo{

background:#FFE7E7;

}

.nota-item-top{

display:flex;

align-items:center;

gap:12px;

}

.nota-item-icono{

width:36px;

height:36px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

flex-shrink:0;

}

.nota-item-info{

flex:1;

}

.nota-item-info h4{

margin:0;

font-size:15px;

font-weight:700;

color:#214A34;

}

.nota-item-info span{

font-size:12px;

color:#6C756F;

}

.nota-pin{

color:#D18D00;

}

.nota-preview{

margin-top:10px;

font-size:13px;

line-height:1.4;

color:#4C5650;

}

.nota-footer{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:12px;

}