.scan-principal{

  width:100%;
  
  border:none;
  
  border-radius:26px;
  
  padding:35px 25px;
  
  background:linear-gradient(135deg,#2E8B57,#3FA34D);
  
  color:white;
  
  display:flex;
  
  flex-direction:column;
  
  align-items:center;
  
  gap:12px;
  
  cursor:pointer;
  
  box-shadow:0 12px 30px rgba(46,139,87,.25);
  
  transition:.25s;
  
  }
  
  .scan-principal:hover{
  
  transform:translateY(-3px);
  
  }
  
  .scan-principal h3{
  
  margin:0;
  
  font-size:22px;
  
  }
  
  .scan-principal p{
  
  margin:0;
  
  opacity:.9;
  
  text-align:center;
  
  }
  
  .archivo-card{
  
  margin-top:22px;
  
  background:white;
  
  padding:18px;
  
  border-radius:18px;
  
  box-shadow:0 8px 20px rgba(0,0,0,.08);
  
  display:flex;
  
  flex-direction:column;
  
  gap:5px;
  
  }
  
  .sheet-opciones{
  
  display:flex;
  
  flex-direction:column;
  
  gap:12px;
  
  }
  
  .sheet-btn{
  
  border:none;
  
  background:#F4F6F8;
  
  padding:18px;
  
  border-radius:18px;
  
  display:flex;
  
  align-items:center;
  
  gap:14px;
  
  font-size:17px;
  
  cursor:pointer;
  
  }
  
  .cancelar{
  
  background:#FFECEC;
  
  color:#C62828;
  
  }